.grid-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 60px);
  width: 100vw;
  overflow: visible;
  margin-top: 1vh;;
}

.grid {
  display: inline-block;
}

.grid-row {
  display: flex;
}
