.grid-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100svh - 60px);
  width: 100vw;
  overflow: visible;
  touch-action: none;
  flex-grow: 1;
  align-items: flex-start;
}

.grid {
  display: inline-block;
  transform-origin: center center;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.grid-row {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100svh;
}
