.grid-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100svh - 60px);
  width: 100vw;
  overflow: visible;
  touch-action: none;
}

.grid {
  display: inline-block;
}

.grid-row {
  display: flex;
}
