.node {
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: lightblue;
}

.node-path {
  background-color: yellow;
}
